<!-- ---
# 基于LLVM风格进行自定义
BasedOnStyle: LLVM
IndentWidth: 4
# 自定义大括号换行行为
BreakBeforeBraces: Custom
BraceWrapping:
  # 函数定义的大括号换行
  AfterFunction: true
  # 控制语句(if/while等)的大括号不换行
  AfterControlStatement: false
  # catch、else等的大括号不换行
  AfterClass: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  # 其他选项保持默认
AlignTrailingComments: true
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
IndentCaseLabels: true
TabWidth: 4 -->